/*
##########################################################################
##########################################################################
		Default Layout: 952px.
		Content-Element width: 952px.
		Gutters: 24px.
		Outer content margins: 28px.
		Leftover space for scrollbars @1024px: 32px.
##########################################################################
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    
##########################################################################
##########################################################################
*/

body {
	
	background-color:#000;
	
	}
	
.content-element a {
	color:#fff;
	}
	
.dossier-start-bg {
	background-image:url(../../images/cover/dossier-start-bg.jpg);
	text-align:center;
	}
	
.dossier-start-bg img {
	margin-top:100px;
	}


/*
##########################################################################
##########################################################################
		Tablet Layout: 768px.
		Content-Element width: 712px.
		Gutters: 24px.
		Outer content margins: 28px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    
##########################################################################
##########################################################################
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	

	
}


/*
##########################################################################
##########################################################################
		iPad Layout Portrait: 768px.
		Content-Element width: 712px.
		Gutters: 24px.
		Outer content margins: 28px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712   
##########################################################################
##########################################################################
 */
 
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	

	
	
	}


/*
##########################################################################
##########################################################################
		iPad Layout Landscape: 1024px.
		Content-Element width: 896px.
		Gutters: 24px.
		Outer content margins: 64px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    
##########################################################################
##########################################################################
*/

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
	
	
	}


/*
##########################################################################
##########################################################################
		Mobile Layout: 320px.
		Content-Element width: 292px.
		Gutters: 24px.
		Outer content margins: 14px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3
px      68    160    252    
##########################################################################
##########################################################################
*/

@media only screen and (max-width: 767px) {
	
	.dossier-start-bg img {
	width:90%;
	height:auto;
	}
	
}


/*		
##########################################################################
##########################################################################
		Wide Mobile Layout: 480px.
		Content-Element width: 436px.
		Gutters: 24px.
		Outer content margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
#########################################################################
cols    1     2      3      4      5
px      68    160    252    344    436    
##########################################################################
##########################################################################
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
.dossier-start-bg img {
	width:90%;
	height:auto;
	margin-top:0px;
	}

	
}


/*		
##########################################################################
##########################################################################
	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
######################################################################### 
##########################################################################
*/

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
	
}



